---

---

<nav class="nav">
  <a href="/" class="link">Daily Draw</a>
  <a href="/cemetery/" class="link">Cemetery of Fortunes Past</a>
  <a href="/deck/" class="link">Major Schemata</a>
  <a href="/submit/" class="link">Submit a Fortune</a>
</nav>
